$grey: #E6E6E6;
// $grey-med-dark: #;

$body-background: #EFEFF4;

$bar-background: #F6F7F9;
$bar-border: #D7DADA;
$bar-color: #8F9091;

$link-color: #1961FE;

$table-cell-height: 50px;

$flash-notice-bg: #009600;
$flash-alert-bg: #B31500;

$parsley-error-color: #FFD7DC;

$zindex: (
  // loading-indicator: 1001,
  flash: 1000,
  popup: 999,
  // tooltip: 2,
  // body: 1,
  // header: 0
);
