ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type=search] { appearance: textfield; }
input[type=text], input[type=submit], input[type=password], input[type=search], input[type=email], textarea {
  appearance: none;
  margin: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
  background-image: none;
  padding: 0;
  resize: none;
  text-indent: 0;
}

.btn, button, input[type=button], input[type=reset], input[type=submit], input[type=image] {
  appearance: none;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  border: 0;

  border-radius: 0;
  background: none;
  width: auto;

  height: auto;

  list-style-type: none;

  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
  }
}
