@font-face {
  src: font-url('ratchet/ratchicons.eot');
  src: font-url('ratchet/ratchicons.eot?#iefix') format('embedded-opentype'),
       font-url('ratchet/ratchicons.woff') format('woff'),
       font-url('ratchet/ratchicons.ttf') format('truetype'),
       font-url('ratchet/ratchicons.svg#ratchicons') format('svg');

  font-family: Ratchicons;
  font-style: normal;
  font-weight: normal;
}
