Product type and task should be joined together.
Should have a list of tasks and a list of products and somehow a join between them
"Expected time for tasks" should be on the product page under a new tab to set

<div class="table-label">Project Management</div>
<div class="table-view">
  <%= link_to [:admin, :projects], class: "table-view-cell" do %>
    <div class="cell-body">Projects</div>
  <% end %>
  <%= link_to [:admin, :products], class: "table-view-cell" do %>
    <div class="cell-body">Products</div>
  <% end %>
</div>

<div class="table-label">Employee Management</div>
<div class="table-view">
  <%= link_to [:admin, :candidates], class: "table-view-cell" do %>
    <div class="cell-body">Applications</div>
  <% end %>
  <%= link_to [:admin, :users], class: "table-view-cell" do %>
    <div class="cell-body">Employees</div>
  <% end %>
</div>
