<%= content_for(:back_button) do %>
  <a href="<%= admin_path %>">Back</a>
<% end %>

<div class="table-view">
  <% @projects.each do |project| %>
    <a href="<%= admin_project_path(project) %>" class="table-view-cell">
      <%= render partial: "title_cell", locals: { project: project } %>
    </a>
  <% end %>
</div>
