<div class="table-view">
  <div class="input-row select-wrapper">
    <% @projects %>
    <select class="" name="">
      <option value="">Sup</option>
      <option value="">Sup</option>
      <option value="">Sup</option>
      <option value="">Sup</option>
      <option value="">Sup</option>
      <option value="">Sup</option>
    </select>
  </div>
</div>

<p>Select project</p>
<p>Select product</p>
<p>Select size</p>
<p>Select tray</p>
<p>Select duty</p>
