<%= content_for(:forward_button) do %>
  <%= link_to "" do %>
    <i class="fas fa-cog"></i>
  <% end %>
<% end %>


<div class="text-center">
  <p>Select project</p>
  <p>Select product</p>
  <p>Select size</p>
  <p>Select tray</p>
  <p>Select duty</p>
  <p>--</p>
  <p>Select QTY</p>
  <p>"GO" button</p>
  <p>Enter notes</p>
  <p>"Next tray" button</p>
</div>
