<%= content_for(:forward_button) do %>
  <%= link_to "" do %>
    <i class="fas fa-cog"></i>
  <% end %>
<% end %>

<%= render partial: "tray_details" %>

<div class="text-center">
  <p>--</p>
  <p>Select QTY</p>
  <p>"GO" button</p>
  <p>Enter notes</p>
  <p>"Next tray" button</p>
</div>
