<% @users.each do |user| %>
  <a href="#approve" class="table-view-cell approve-user" data-user-id="<%= user.id %>">
    <img class="media-object pull-left" src="<%= image_url(user.avatar_url, host: root_domain) %>">
    <div class="cell-detail">
      <h3><%= user.full_name %></h3>
      <p>Click to approve shift</p>
    </div>
  </a>
<% end %>
