input[type=text], input[type=submit], input[type=password], input[type=search], input[type=email], textarea {
  @extend .table-view-cell;

  font-size: 16px;
}

.input-group {
  display: table;
  width: 100%;

  .input-row {
    display: table-row;
    width: 100%;

    label {
      display: table-cell;
      padding: 0 10px;
      width: 1px;
    }
    input {
      display: table-cell;
      width: 100%;
    }
  }
}

.btn, button, input[type=button], input[type=reset], input[type=submit], input[type=image] {
  color: $link-color;
}
