$slider-wrapper-height: 34px;
$slider-wrapper-width: $slider-wrapper-height * 1.8;
$slider-padding: 0;
$border-size: 2px;
$slider-size: $slider-wrapper-height - (2 * $border-size) - (2 * $slider-padding);

label.switch-toggle {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: $slider-wrapper-width;
  height: $slider-wrapper-height;

  input { display: none; }

  .switch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    cursor: pointer;
    box-sizing: border-box;
    border: $border-size solid $grey;
    border-radius: 999px;
    background: white;

    &:before {
      position: absolute;
      top: $slider-padding;
      left: $slider-padding;
      transition: 0.4s;
      box-shadow: 1px 1px 3px grey;
      border-radius: 999px;
      background: white;
      width: $slider-size;
      height: $slider-size;
      content: "";
    }
  }

  input:checked + .switch {
    border-color: #4CD963;
    background: #4CD963;

    &:before {
      left: $slider-wrapper-width - $slider-size - (2 * $border-size) - (2 * $slider-padding);
    }
  }
}
