.table-label {
  margin-right: 20px;
  margin-bottom: -15px;
  margin-left: 20px;
  color: $bar-color;
}
.table-view {
  margin: 20px 0;
  border: 2px solid $bar-border;
  border-right: none;
  border-left: none;
  background: white;

  &:first-of-type { margin-top: 0; }
  &:last-of-type { margin-bottom: 0; }

  a.table-view-cell {
    &:hover, &:active { background: $bar-background; }
  }
  .table-view-cell {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    max-width: 100%;
    min-height: $table-cell-height;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:first-of-type):before {
      position: absolute;
      top: 0;
      right: 0;
      left: 10px;
      vertical-align: middle;
      background: $bar-border;
      height: 1px;
      content: "";
    }
    .cell-body {
      width: 100%;
    }
    .cell-info {
      color: $bar-border;

      i.fas {
        margin-right: 10px;
        &.green { color: green; }
        &.red { color: red; }
      }
    }
    i.fas.fa-chevron-right {
      color: $bar-border;
    }
    img.media-object {
      align-self: flex-start;
      margin-top: 10px;
      margin-right: 10px;
      width: $table-cell-height;
      height: auto;
    }
    h3 {
      margin: 0;
    }
    .cell-detail {
      margin: 10px 0;
      width: 100%;
      white-space: normal;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
    ul.task-cell {
      margin: 5px 0;

      li {
        margin-top: 2px;
      }
    }
  }
  a.table-view-cell:after {
    margin-right: 10px;
    font-family: "Font Awesome\ 5 Free";
    content: "\f054";
  }
}

.card {
  margin: 20px;

  .table-view {
    border: 2px solid $bar-border;
    border-radius: 8px;
  }
}
