<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= render partial: "layouts/meta_tags" %>
  </head>
  <body>

    <%= content_for(:header) %>
    <div class="content"><%= yield %></div>
    <%= content_for(:footer) %>

  </body>
</html>
